<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      >

<th:block layout:framgment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<th:block layout:framgment="customContents">
	<form th:action="@{/removeMember}" method="post">
		<table border="1">
			<tr>
				<td>회원아이디</td>
				<td>
					<input type="text" name="memberId" th:value="${memberId}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<td>회원비밀번호</td>
				<td>
					<input type="text" name="memberPw" />
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">					
					 <button type="submit">회원탈퇴 </button>
				</td>
			</tr>
		</table>	
	</form>
	<label th:if="${result != null}" th:text="${result}">회원 비밀번호가 일치하지 않습니다.</label>
</th:block>
</html>